@import "tailwindcss";

@theme {
  /* Dark green */
  --color-primary-900: oklch(62.71% 0.1699 149.21);

  /* Light green */
  --color-primary-200: oklch(87.12% 0.1363 154.45);
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--primary-900);
    border-right-color: var(--primary-200);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--primary-200);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
